# editorconfig.org

# This is the project's root directory
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 88

[*.bat]
indent_style = tab
indent_size = 4
end_of_line = crlf
max_line_length = off

[*.{js,json,jsx,ts,tsx}]
indent_style = space
indent_size = 2

[*.{markdown,md}]
trim_trailing_whitespace = false
max_line_length = off

[*.py]
indent_style = space
indent_size = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[.git*]
indent_style = tab
indent_size = 4
max_line_length = off

[COMMIT_EDITMSG]
max_line_length = off

[{Makefile,**.mk}]
indent_style = tab
indent_size = 8
max_line_length = off
